/saveplace
/.bbdb
elpa/*
.cask
anaconda-mode/*
backups/*
eshell/*
auto-save-list/
elpa/
/.smex-items
/bookmarks
/custom.el
/ido.last
/.emacs.desktop
/.bookmarks.el
/recentf
url/
var/
/projectile-bookmarks.eld
/projectile.cache
/tramp
/kill-ring-saved.el
/network-security.data
/ac-comphist.dat
/transient/
/.mc-lists.el
/.lsp-session-v1
/.no-shared.el
/straight/
